<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | Ashish Kumar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/69d727b4a3.js" crossorigin="anonymous"></script>
</head>
<body>
  
  <%- include('../include/navbar'); %>
  <h1 class="text-center font">My Work</h1>
    <hr class="line">
    <div class="quote">
      <h5>“Commit yourself to lifelong Learning. The most valuable asset you will ever have is your mind and what you put into it.”<br>  –  Albert Einstein</h5>
    </div>
    <hr class="line">
  <div class = "padd container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/images/wedspay1.JPG" class="card-img-top" alt="...">
        <div class="card-body card-color">
          <h5 class="card-title">Wedspay</h5>
          <p class="card-text card-margin">Wedspay is an innovative and user-friendly platform that aims to make the
            process of accepting cash gifts more convenient and efficient in the digital age. It helps in
            reducing the environmental impact of paper usage and maintaining records of gifts received
            in the future.</p>
            <a class="text-alignment" target="_blank" href="https://kiet-ashish.github.io/WedPay/">more</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last update 5 days ago.</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/images/drumkit1.JPG" class="card-img-top" alt="...">
        <div class="card-body card-color">
          <h5 class="card-title">Drum Kit</h5>
          <p class="card-text card-margin">Drum Kit is highly advance musical instrument. We can operate using keyboard and mouse as well. It eliminate the requirement of physical musical drum kit.
            I use javascript Event Listener and audio.
          </p>
          <a class="text-alignment" target="_blank" href="https://kiet-ashish.github.io/Drum_Kit/">more</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last update 1 year ago.</small>
        </div>
      </div>
    </div>
    <div class="col ">
      <div class="card h-100">
        <img src="/images/project1.JPG" class="card-img-top" alt="...">
        <div class="card-body card-color">
          <h5 class="card-title">Order Summary</h5>
          <p class="card-text card-margin">It display a summary of the customer's order before they confirm their purchase. It usually includes information such as the items or services ordered, the price of each item, the total price, and payment information.</p>
          <a class="text-alignment" target="_blank" href="https://kiet-ashish.github.io/Order-summary-component/">more</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last update 2 years ago.</small>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../include/footer') %>

</body>
</html>